body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.netflix-logo {
  padding-right: 10px;
}

.navbar-pages {
  display: flex;
  gap: 15px;
  margin: 0 25px;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 15px;
  margin: 0 25px;
  align-items: center;
}

.main-photo {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-photo img {
  width: 100%;
  height: 550px;
  object-fit: cover;

}